{% macro icon(icon_name) %}
    {% include "icons/" + icon_name + ".svg" %}
{% endmacro %}


{% macro dropdown_menu_item(title, description, link, icon_name) %}
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
            {{ icon(icon_name) }}
        </div>
        <div class="flex-auto">
            <a href="{{ link }}" class="block font-semibold text-gray-900 hover:text-[#EDB641]">
                {{ title }}
                <span class="absolute inset-0"></span>
            </a>
            <p class="mt-1 text-gray-600">{{ description }}</p>
        </div>
    </div>
{% endmacro %}

{% macro dropdown_menu(title, menu_item) %}
    <div class="relative">
        <button type="button"
                class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100 hover:!text-[#EDB641] st-dropdown-toggle dropdown-closed"
                data-dropdown-state="closed"
                aria-expanded="false">
            {{ title }}
            <div class="menu-state-indicator">
                {{ icon("chevron-down") }}
            </div>
        </button>

        <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden st-dropdown-menu">
            <div class="p-4">
                {% for sub_title, sub_item in menu_item | items %}
                    {{ dropdown_menu_item(title=sub_title, description=sub_item.description, link=sub_item.link, icon_name=sub_item.icon) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro mobile_menu(title, item) %}
    {% if item is string %}
        <a href="{{ menu_item }}"
           class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 dark:text-gray-100 hover:bg-gray-50">{{ title }}</a>
    {% else %}
        {% for foo, bar in item | items %}
            {{ mobile_menu(foo, bar) }}
        {% endfor %}
    {% endif %}
{% endmacro %}
