{% macro chevron_down() %}
    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
         aria-hidden="true">
        <path fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"/>
    </svg>
{% endmacro %}


{% macro dropdown_menu_item(title, description, link, logo) %}
    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
            {% include logo %}
        </div>
        <div class="flex-auto">
            <a href="{{ link }}" class="block font-semibold text-gray-900 hover:text-[#EDB641]">
                {{ title }}
                <span class="absolute inset-0"></span>
            </a>
            <p class="mt-1 text-gray-600">{{ description }}</p>
        </div>
    </div>
{% endmacro %}


{% macro dropdown_menu(title, menu_items, extra=None) %}
    <div class="relative">
        <button type="button"
                class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-[#EDB641] st-dropdown-toggle dropdown-closed"
                data-dropdown-state="closed"
                aria-expanded="false">
            {{ title }}
            <div class="menu-state-indicator">
                {{ chevron_down() }}
            </div>
        </button>

        <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden st-dropdown-menu">
            <div class="p-4">
                {% for item in menu_items %}
                    {{ dropdown_menu_item(title=item.title, description=item.description, link=item.link, logo=item.logo) }}
                {% endfor %}
            </div>
            {% if extra %}
                {% include extra %}
            {% endif %}
        </div>
    </div>
{% endmacro %}
