@tailwind base;
@tailwind components;
@tailwind utilities;

[aria-expanded="true"] .menu-state-indicator {
  transform: rotate(-180deg);
}

.menu-state-indicator {
  transition: transform 0.2s ease;
}

.theme-switch {
  display: none;
}

html[data-theme="light"] .theme-switch[data-theme="light"] {
  display: flex;
}
html[data-theme="dark"] .theme-switch[data-theme="dark"] {
  display: flex;
}
