name: Check Litestar Release

on:
  schedule:
    - cron: '0 0 * * *'  # Run every night at midnight
  workflow_run:
    workflows: ["Tests and Linting"]
    types:
      - completed

jobs:
  check_release:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Get latest Litestar release
      id: latest_release
      run: |
        latest_release=$(curl -s https://api.github.com/repos/litestar-org/litestar/releases/latest | jq -r '.tag_name' | sed 's/^v//')
        echo "::set-output name=version::$latest_release"

    - name: Update docs/conf.py
      if: steps.latest_release.outputs.version != env.CURRENT_VERSION
      env:
        CURRENT_VERSION: 2.8.2
      run: |
        sed -i "s/\"title\": \"Litestar [0-9.]* has just been released!\"/\"title\": \"Litestar \${{ steps.latest_release.outputs.version }} has just been released!\"/" docs/conf.py
        sed -i "s|https://docs.litestar.dev/[0-9]*/release-notes/changelog.html#[0-9.]*|https://docs.litestar.dev/\${{ steps.latest_release.outputs.version }}/release-notes/changelog.html#\${{ steps.latest_release.outputs.version }}.0|" docs/conf.py

    - name: Update workflow file
      if: steps.latest_release.outputs.version != env.CURRENT_VERSION
      run: |
        sed -i "s/CURRENT_VERSION: ${CURRENT_VERSION}/CURRENT_VERSION: \${{ steps.latest_release.outputs.version }}/g" .github/workflows/update-toast.yml

    - name: Create pull request
      if: steps.latest_release.outputs.version != env.CURRENT_VERSION
      uses: peter-evans/create-pull-request@v6
      with:
        token: ${{ secrets.WORKFLOW_TOKEN }}
        commit-message: Update Litestar version to ${{ steps.latest_release.outputs.version }}
        title: Update Litestar version to ${{ steps.latest_release.outputs.version }}
        body: |
          A new Litestar release (${{ steps.latest_release.outputs.version }}) has been detected.
          This PR updates the version in the `docs/conf.py` file and the `CURRENT_VERSION` in the workflow file.
        branch: update-litestar-version
